# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules
coverage/
.env

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# App Files
# --------------------
.tmp/
logs/
builds/
dist/
bin/
*.bak
credentials.coffee

# --------------------
# Text editor files
# --------------------
*.sublime-project
*.sublime-workspace
